mixin about()
  -
    const dataAbout = [
      {
        term:"1100+",
        describe:"Довольный посетителей за последний год"
      },
      {
        term:"50+",
        describe:"Проведенных мероприятий за 6 месяцев"
      },
        {
        term:"20+",
        describe:"Выпущенных профессиональных спортсменов за 1 год"
      },
        {
        term:"15+",
        describe:"Регулярный занятий в неделю с профессиональными наставниками"
      }
    ]

  section.about

    .container
      h2.titel О нашем клубе
      .about-img
        +picture("content","desktop-about", "png", "871", "529", "Лошадь на скаку")
      .about__right
        ul.about-list
          each item in dataAbout
            li.about-item
              span= item.term
              p= item.describe
        .about__right-describe
          p Занятия проводятся индивидуально и в группах, стоимость также будет зависеть от ваших навыков и умений. Более выгодные условия предусмотрены для регулярных занятий при покупке абонементов. Для тех, кто хочет отточить своё мастерство, разработаны программы по специализации (конкур, выездка и другие), участие в соревнованиях и чемпионатах. Для самых маленьких любителей лошадей действуют пони-клубы, где ребята учатся ухаживать за животными и ездить на милых и добрых пони.
