mixin intro()
  section.header-intro.intro
    h1.title-main Окунитесь в мир лошадей вместе с нами
    .intro-text
      p Уроки верховой езды, фотосессии и мероприятия в частном конном клубе <span>г. Санкт-Петербург</span>
    button.intro__button.button.button--yellow(type="button", data-open-modal) Записаться
