mixin modal-photo(name)
  section.modal(class= `modal--${name}`, data-modal-photo)
    .modal-wrapper
      .modal-overlay(data-modal-close)
      .modal-content
        img( src="#", width = '800', hight="800" alt="Клиенты")

