mixin modal-success(name)
  section.modal(class= `modal--${name}`, data-modal-success)
    .modal-wrapper
      .modal-overlay(data-modal-close)
      .modal-content
        p Наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время, хорошего дня!

