//- Base

include ./base/header
include ./base/footer
include ./base/modal-base

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals
include ./modals/modal
include ./modals/modal-success
include ./modals/modal-photo
include ./modals/modal-review

//- Blocks

include ./blocks/intro
include ./blocks/about
include ./blocks/benefits
include ./blocks/trend
include ./blocks/clients
include ./blocks/horses
include ./blocks/form
include ./blocks/review
include ./blocks/map
//- Mixins

include ./mixins/btn
include ./mixins/custom-input



